@font-face {
    font-family: NeutraBold;
    src: url('../fonts/Neutraface2-Bold.ttf');
}

@font-face {
    font-family: NeutraLight;
    src: url('../fonts/Neutraface2-Light.ttf');
}

@font-face {
    font-family: NeutraMedium;
    src: url('../fonts/Neutraface2-Medium.ttf');
}

@font-face {
    font-family: NeutraThin;
    src: url('../fonts/Neutraface2-Thin.ttf');
}

html {
    min-height: 100%;
    background:
        radial-gradient(transparent, black),
        url("../img/jdore.jpg");
    background-size: contain;
}

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/*background-color: rgb(42,42,42);*/
	color: white;
	font-family: NeutraLight, sans-serif;
	font-size: 1em;
}

button {
	background-color: black;
	color: white;
	border-radius: 2px;
	border: 1px solid #575757;
	margin-top: 0.8em;
	text-transform: uppercase;
	padding-top: 4px;
	padding-bottom: 4px;
}

button:hover {
	background-color: white;
	color: black;
	border: 1px solid #575757;
}

input {
	background-color: black;
	color: white;
	border-radius: 2px;
	border: 1px solid #575757;
	margin-top: 0.8em;
	height: 20px;
}

#first-input {
	margin-top: 0;
}

#top-elements {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: flex-start;
}

#logo {
	margin-top: 20px;
	margin-bottom: 20px;
}

.top-content {
	/*flex: 1 1 auto;*/
	/*align-content: none;*/
}

#greeting {
	margin-top: 28px;
	font-size: 1.35em;
}

.bar {
	margin: 0 auto;
	display: flex;
	align-items: baseline;
	flex-direction: row;
	justify-content: center;
	flex-wrap: nowrap;
	background-color: black;
	width: 100%;
	border-bottom: 1px solid rgba(255,255,255,0.5);
	border-top: 1px solid rgba(255,255,255,0.5);
}

.bar a {
	font-family: NeutraMedium;
	text-decoration: none;
	color: white;
	display: flex;
	font-size: 1em;
	flex: 1 1 1em;
	flex-wrap: nowrap;
	/*align-items: flex-start;*/
	justify-content: space-around;
	text-transform: uppercase;
	letter-spacing: .067em;
}

.bar a:hover {
	color: rgba(148,104,255,1);
	font-size: 1em;
}

#map-canvas {
	height: 630px; 
	width: 780px;
	display: inline-block;
	margin-top: 5px;
	border-radius: 5px;
	border: 1px solid white;
}

#addUserForm {
	display: flex;
	flex-direction: row;
	/*padding: 2em;*/
}

#signup {
	margin-right: 1em;
}

 #main-area {
 	display: flex;
 	flex-direction: row;
 	margin-top: 2.7em;
 }

#left-main {
  width: 14em;
  background-color: black;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-left: 1em;
  overflow: auto;
}

#left-main-content {
	padding-left: 30px;
}

#center-main {
   width: 17.5em;
  	background-color: black;
   display: flex;
   flex-direction: column;
   height: 100%;
   margin-left: 1em;
   overflow: auto;
}

#center-main-content {
	padding-left: 25px;
}

#right-main {
	margin-left: 1.5em;
}

.username {
	font-size: 1em;
	font-family: NeutraBold;
	text-transform: uppercase;
}

h3 {
	text-transform: uppercase;
	/*text-decoration: underline;*/
	letter-spacing: 0.15em;
}

/*GOOGLE PLACES SEARCH BAR*/
 .controls {
        /*margin-top: 10px;*/
        border: 1px solid transparent;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        height: 32px;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
      }

      #pac-input {
        background-color: black;
        color: white;
        font-family: NeutraMedium;
        font-size: 15px;
        font-weight: 300;
        margin-left: 12px;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 300px;
      }

      #pac-input:focus {
        border-color: white;
      }

      .pac-container {
        font-family: NeutraMedium;
      }

      #type-selector {
        color: #fff;
        background-color: #4d90fe;
        padding: 5px 11px 0px 11px;
      }

      #type-selector label {
        font-family: NeutraMedium;
        font-size: 16px;
        font-weight: 300;
      }
      #target {
        width: 345px;
      }
    /*END SEARCH BAR*/

/*INFO WINDOWS*/
#content {
	color: black
}

@media(max-width: 1000px ) {
#map-canvas {
	height: 630px; 
	width: 650px;
	display: inline-block;
	border-radius: 5px;
	border: 1px solid white;
}
}

@media(max-width: 950px ) {
#map-canvas {
	height: 630px; 
	width: 600px;
	display: inline-block;
	border-radius: 5px;
	border: 1px solid white;
}
}

@media(max-width: 900px ) {
#map-canvas {
	height: 630px; 
	width: 550px;
	display: inline-block;
	border-radius: 5px;
	border: 1px solid white;
}
}

@media(max-width: 850px ) {
#map-canvas {
	height: 630px; 
	width: 500px;
	display: inline-block;
	border-radius: 5px;
	border: 1px solid white;
}
}


@media(max-width: 800px ) {
#map-canvas {
	height: 630px; 
	width: 450px;
	display: inline-block;
	border-radius: 5px;
	border: 1px solid white;
}
}

@media(max-width: 750px ) {
#map-canvas {
	height: 630px; 
	width: 425px;
	display: inline-block;
	border-radius: 5px;
	border: 1px solid white;
}
}

@media(max-width: 700px ) {
#map-canvas {
	height: 630px; 
	width: 400px;
	display: inline-block;
	border-radius: 5px;
	border: 1px solid white;
}
}

@media(max-width: 600px) {
	#top-elements {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: baseline;
}
} 


@media(max-width: 300px ) {
	.bar {
	margin: 0 auto;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	flex-wrap: nowrap;
	background-color: black;
	width: 100%;
	padding: 20px;
	border-bottom: 1px solid rgba(255,255,255,0.5);
	border-top: 1px solid rgba(255,255,255,0.5);
	}

#logo {
	width:116px;
	height:19px;
	margin-right: 10px
}

#addUserForm {
	display: flex;
	flex-direction: column;
	/*padding: 2em;*/
}


 #main-area {
 	display: flex;
 	flex-direction: column-reverse;
 }

#map-canvas {
	height: 350px; 
	width: 220px;
	display: inline-block;
	border-radius: 5px;
	border: 1px solid white;
}
}