@font-face {
    font-family: NeutraBold;
    src: url('../fonts/Neutraface2-Bold.ttf');
}

@font-face {
    font-family: NeutraLight;
    src: url('../fonts/Neutraface2-Light.ttf');
}

@font-face {
    font-family: NeutraMedium;
    src: url('../fonts/Neutraface2-Medium.ttf');
}

@font-face {
    font-family: NeutraThin;
    src: url('../fonts/Neutraface2-Thin.ttf');
}

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-color: rgb(42,42,42);
	color: white;
	font-family: NeutraLight, sans-serif;
	font-size: 0.8em;
}

#top-elements {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: baseline;
}

.top-content {
	/*flex: 1 1 auto;*/
	align-content: ;
}

.bar {
	margin: 0 auto;
	display: flex;
	align-items: baseline;
	flex-direction: row;
	justify-content: center;
	flex-wrap: nowrap;
	background-color: black;
	width: 100%;
	padding: 20px;
	border-bottom: 1px solid rgba(255,255,255,0.5);
	border-top: 1px solid rgba(255,255,255,0.5);
}

.bar a {
	font-family: NeutraMedium;
	text-decoration: none;
	color: white;
	display: flex;
	font-size: 1em;
	flex: 1 1 1em;
	flex-wrap: nowrap;
	/*align-items: flex-start;*/
	justify-content: space-around;
	text-transform: uppercase;
	letter-spacing: .067em;
}

.bar a:hover {
	color: rgba(148,104,255,1);
	font-size: 1em;
}

#map-canvas {
	height: 700px; 
	width: 900px;
	display: inline-block;
	margin-top: 5px;
	border-radius: 5px;
}

#addUserForm {
	display: flex;
	flex-direction: row;
	padding: 2em;
}

#signup {
	margin-right: 1em;
}

 #main-area {
 	display: flex;
 	flex-direction: row;
 }

#left-main {
   width: 12em;
  	border: 1px solid rgba(202,188,255,0.9);
   display: flex;
   flex-direction: column;
   height: 95em;
   margin-left: 1em
}

#left-main-content {
	padding-left: 30px;
}

#right-main {
	margin-left: 1.5em;
}

/*GOOGLE PLACES SEARCH BAR*/
 .controls {
        margin-top: 10px;
        border: 1px solid transparent;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        height: 32px;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
      }

      #pac-input {
        background-color: #fff;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        margin-left: 12px;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 300px;
      }

      #pac-input:focus {
        border-color: #4d90fe;
      }

      .pac-container {
        font-family: Roboto;
      }

      #type-selector {
        color: #fff;
        background-color: #4d90fe;
        padding: 5px 11px 0px 11px;
      }

      #type-selector label {
        font-family: Roboto;
        font-size: 13px;
        font-weight: 300;
      }
      #target {
        width: 345px;
      }
    /*END SEARCH BAR*/

@media(max-width: 1000px ) {
#map-canvas {
	height: 750px; 
	width: 700px;
	display: inline-block;
	margin-top: 5px;
	border-radius: 5px;
	border: 1px solid white;
}
}

@media(max-width: 700px ) {
#map-canvas {
	height: 750px; 
	width: 450px;
	display: inline-block;
	margin-top: 5px;
	border-radius: 5px;
	border: 1px solid white;
}
}

@media(max-width: 300px ) {
	.bar {
	margin: 0 auto;
	display: flex;
	align-items: baseline;
	flex-direction: column;
	justify-content: center;
	flex-wrap: nowrap;
	background-color: red;
	width: 100%;
	padding: 20px;
	border-bottom: 1px solid rgba(255,255,255,0.5);
	border-top: 1px solid rgba(255,255,255,0.5);
	}
}