	<!-- locationPartial and add new location-->
	<h3>All Locations</h3>

	<div ng-if="mainCtrl.isLoggedIn" id="addLocationForm">
		<h3>New Location</h3>
		<form ng-submit="mainCtrl.addLocationForm()">
			<input type="text" ng-model="mainCtrl.locationData.name" placeholder="name"><br>
			<input type="number" step="any" ng-model="mainCtrl.locationData.lat" placeholder="lat"><br>
			<input type="number" step="any" ng-model="mainCtrl.locationData.lng" placeholder="lng"><br>
			<button>SUBMIT</button>
		</form>
	</div>
			
	<span>Seach for locations</span><br>
	<input type="text" ng-model="searchBox" placeholder="Location Name">


	<div ng-repeat="location in mainCtrl.locationList | filter:searchBox" ng-click="mainCtrl.addLocation(location)">

		<p>{{location.name}}</p>
			</div>

	
				</div>